body {
font-family: "Roboto", sans-serif;
color: #434455;
background: #FFF;
}

a {
text-decoration: none;
}
ul {
list-style: none;
}


/*Logo*/
.logo {
font-family: "Raleway", sans-serif;

}
.logo-style {
    font-size: 18px;
    font-weight: 500;
    color: #4D5AE5;
    letter-spacing: 0.54px;
    text-transform: uppercase;
    font-family: "Raleway", sans-serif;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.span {
color: #2e2f42;
}

/*Info*/ 


.info {
color: #2E2F42;
font-size: 16px;
line-height: 1,5;
}
.info:hover, .info:focus, .info:active {
color: #404BBF;
}

/*Address*/
.address-link {
font-style: normal;
}

 .address-style {
font-weight: 500;
line-height: 1.5
letter-spacing: 0.02em;
color: #434455;
}

.address-style:hover,
.address-style:focus {
    font-size: 16px;
}


/*Section1*/

.hero {
background-color: #2E2F42;
}

.button-style {
background-color: #4D5AE5;
font-family: "Roboto", sans-serif;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
}
.button-style:hover, .button-style.info:focus {
        background-color: #404BBF;
}

.solutions{
font-size: 56px;
line-height: 1,07;
color: white;
font-weight: 700;
}

/*Section2*/

.solutions-item {
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2E2F42;
font-weight: 500;
}

.solutions-link {
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: s#434455;
}

/*Section3*/

.section--three {
    background-color: #F4F4FD;
}

.our-time-style {
font-size: 36px;
text-align: center;
letter-spacing: 0.02em;
text-transform: capitalize;
color: #2E2F42;
font-weight: 700;
line-height: 1.11;
}

.fon-section-three {
    background-color: #FFFFFF;
}


.name-style {
font-size: 20px;
letter-spacing: 0.02em;
color: #434455;
font-weight: 500;
line-height: 1.2;
}

 /*Footer*/


.footer-style {
background-color: #2E2F42;
}
.profession {
    font-size: 16px;
    line-height: 1, 5;
    color: #434455;
    line-height: 1.5;
    letter-spacing: 0.02em;

}

.logo-style-2 {
font-family: "Raleway", sans-serif;
font-weight: 700;
font-size: 18px;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
color; #4d5ae;

}


.accent-2 {
color: #f4f4fd;
}

.footer-style  {
line-height: 1.5;
color; #F4F4FD;
letter-spacing: 0.02em;
}